.many-fields-conf {
  width: 400px;
  margin: 0 auto;
}

.many-fields {
  width: 600px;
  margin: 0 auto;
}

.field {
  display: flex;
  align-items: center;
}

.many-fields .form-group {
  width: calc(100% - 20px);
  float: left;
}
.many-fields .remove-field {
  max-height: 2rem;
}
