.many-fields-conf {
  width: 400px;
  margin: 0 auto;
}

.many-fields {
  width: 600px;
  margin: 0 auto;
}

.field {
  overflow: hidden;
}

.many-fields .form-group {
  width: calc(100% - 20px);
  float: left;
}
.many-fields .remove-field {
  margin-top: 30px;
  margin-left: 8px;
  display: inline-block;
  text-decoration: none;
}
